<div class="row">
    <div class="col-12 mb-3 ui raised segment px-2 py-4">
        <div class="row">
            <div class="col-3 brand text-secondary"><h3>Milatho</h3></div>
        </div>
    </div>
</div>

<style>
    .col-12.ui.raised.segment{
        border-radius: 0;
    }
</style>