<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="641992506867-dfbko0ja6m8df845ihn7qu2r00gj7f4c.apps.googleusercontent.com">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>{{title}}</title>

    {{!-- LOAD STYLESHEETS --}}
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {{!-- LOAD ESSENGTIAL JAVASCRIPT --}}
    
</head>
<body>
    <div class="container-fluid">
        {{#ifeq header 'primary'}}
            {{>header-primary}}
        {{else}}
            {{>header-secondary}}
        {{/ifeq}}
        {{!-- {{{body}}} --}}
    </div>
</body>
{{!-- LOAD SUPPORTING JAVASCRIPT --}}
<script src="dist/bundle.js"></script>
<script async src="js/app.jsx"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</html>