<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 mx-auto">
           <h2 class="text-secondary"> SignIn To Your Milatho Account!</h2>
            <hr>
            <div class="row ">
                <div class="col-12"><br></div>
                <div class="col-md-6">
                    <button class="btn btn-secondary py-3 btn-lg btn-block flat">
                        Continue with Google
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-secondary py-3 btn-lg btn-block flat">
                        Continue with Facebook
                    </button>
                </div>
                <div class="col-12">
                    {{!-- <ui class="ui horizontal divider">OR</ui> --}}
                    <br>
                </div>
                <div class="col-12 form-group">
                    <input type="email" placeholder="Email Address" class="form-control form-control-lg flat py-3" required/>
                </div>
                <div class="col-12 form-group mt-2">
                    <input type="password" placeholder="Password" class="form-control flat form-control-lg py-3" required/>
                </div>
                <div class="col-12">
                     <button class="btn btn-secondary py-3 btn-lg btn-block flat">
                        Proceed
                    </button>
                </div>
            </div>
        </div>
        .
    </div>
</div>