<div id="fb-root"></div>
<div class="container mt-4">
    <div class="row" style="padding-top:3% !important;">
        <div class="col-lg-6 mx-auto" id="subcontainer">
            <div class="row">
                  <div class="col-lg-4">
                    <div class="d-block">
                        <div class="mx-1" id="brand-image"></div>
                    </div>
                </div>
                <div class="col-8"></div>
                <div class="col-12 pt-2">
                    <div>
                        <h1 style="font-weight:bold;">Create Account</h1>
                    </div>
                </div>
                <div class="col-12">
                    <br>
                </div>
            </div>
            .row
        </div>
    </div>
</div>
