body{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto' !important;
}
.flat{
    border-radius: 0 !important;
}

.bg-theme{
    background-color: rgb(255, 153, 0) !important;
    color:white;
    
}
.text-theme{
    color: rgb(255, 153, 0) !important;
}

.btn-theme{
    background-color: rgb(255, 153, 0) !important;
    color:white;
}

.btn-theme:hover{
    color: rgb(255, 153, 0) !important;
    background-color:white !important;
    border-radius: 0 !important;
}

.flat{
    border-radius: 0 !important;
}